body {
	font-family: "trebuchet ms", helvetica, sans-serif;
color: #666666;
	font-size: 81.25%;

}
a
{
color: #FF7800;
text-decoration: underline;
}

td {
		font-family: "trebuchet ms", helvetica, sans-serif;
color: #666666;
	font-size: 81.25%;
}

th {
		font-family: "trebuchet ms", helvetica, sans-serif;
color: #666666;
	font-size: 81.25%;
}

/* left layout with navigation */

#wrapper { 
 margin: 0 auto;
 width: 922px;

}

#header {
	color: #eee;
	width: 899px;
	float: left;
	padding: 0px;
	height: 100px;
	margin: 0px 0px 0px 0px;
	background: #FF7800;
}

#leftcolumn { 

 background: #ccc;
 margin: 0;
 padding: 30px 0px 0px 0px;
 height: 355px;
 width: 33%;
 float: left;
}
#rightcolumn { 
 float: left;

 background: #ffc;
 margin: 0px 5px 5px 0px;
 padding: 10px;
 height: auto;
 width: 650px;
 display: inline;
 
 
}
#content {
margin-top:22px;
 padding:0;


}
#footer { 
 width: 900px;
 clear: both;
 color: #fff;
 background: #90b11f;
 margin: 0px 0px 20px 0px;
 padding: 0px;
}

#left-layout {

	width: 33%;

	float: left;

}



ul.navigation {
    color: #FF7800;
	list-style-type: none;

	padding-left: 10px;

	margin-top: 3em;

}

ul.navigation li { margin-bottom: 0.5em; }

/*ul.navigation li.spaced { margin-top: 2.3em; }*/



ul.navigation a.selected { font-weight: bold; text-decoration:none;  }








ul.navigation li ul { margin-top: 0.4em; margin-bottom: 1em; padding-left: 2em; }

/* ul.navigation li ul li { margin-bottom: 0.5em; } */



#left-layout .text {

	margin-top: 70px;

	padding: 0 60px 0 50px;

	font-size: 100%;

}

#left-layout .text p {

	margin-bottom: 1.5em;

}







/* navigation path */



#navigation-path { clear: both; padding-left: 33%; }

#navigation-path ul li { display: inline; font-size: 77%; font-style: italic; }